<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Document</title>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
	</head>
	<body>
		<div id="app">
			<!-- 
				v-if :boolean true /flase
				当值为true:则展现标签对中的信息
				当值为false :则不展现标签对中的信息
			 -->
			<p v-if="false">if 1</p>
			<p v-if="true">if 2</p>
			<p v-if="flag">if 3</p>
			<p v-if="flag2">if 4</p>
			<!-- 
				v-show :boolean true /flase
				当值为true:则展现标签对中的信息
				当值为false :则不展现标签对中的信息
			 -->
			<p v-show="flag">show 1</p>
			<p v-show="flag2">show 2</p>
		</div>	
	</body>
	<script>
		var vm = new Vue({
			el: "#app", 
			data: {
				"flag": true,
				"flag2": false,
			}
		})
	</script>
</html>
